PORT="your_port"

# connecting database
DATABASE_URL="your_database_url"

# config jwt secret
JWT_SECRET="your_jwt_secret"
JWT_EXPIRATION="your_jwt_expiration"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
JWT_REFRESH_EXPIRATION="your_jwt_refresh_expiration"

# config seed
SEED_PASSWORD="your_seed_password"
