PORT="your_port"

# connecting database
DATABASE_URL="your_database_url"

# config jwt secret
JWT_ACCESS_SECRET="your_jwt_secret"
JWT_ACCESS_EXPIRATION="your_jwt_expiration"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
JWT_REFRESH_EXPIRATION="your_jwt_refresh_expiration"

# config seed
SEED_PASSWORD="your_seed_password"

# config throttler
THROTTLE_TTL="your_throttle_ttl"
THROTTLE_LIMIT="your_throttle_limit"

# Config API Email
RESEND_API_KEY="your_resend_api_key"
MAIL_FROM_EMAIL="your_mail_from_email"
